<html></html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snoopy Motivational Quotes</title>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <div class="bg1">
            <div class="todo">
                <a href="/">Go Back!</a>
            </div>
            <script src="/scripts/motivationalQuotesScript.js"></script>


        </div>
    </body>
</html>