<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Snoopy To-Do List</title>
        <link rel="stylesheet" href="/CSS/style.css">
    </head>
    <body>
        <div class="bg">
            <div class="todo">
                <h2>To-Do List 
                    <a href="/about-snoopy"><img src="/Assets/snoopy.png" alt="Snoopy"></a>
                    <a href="/motivation"><img src="/Assets/Woodstock.png" alt="Woodstock"></a>
                </h2>

                
                <form class="addTask" action="/task/new" method="post">
                    <input type="text" class="input" name="title" placeholder="write your task" required/> <br />
                    <input type="text" class="input" name="due" placeholder="write your tasks due date if it has any"/> <br />
                    <input type="text" class="input" name="description" placeholder="write your tasks description if it has any"/> <br />
                    <button type="submit">Add</button>
                </form>
                
                <% for(var i=0;i<tasks.length;i++) { %>
                 <!-- should probably be changed later to have action to generate html page for specific task -->
                    <div class="taskList">
                        <form action="/task/<%= tasks[i]._id%>/delete" method="POST">
                            <!-- <input type="checkbox"> -->
                            <a href="/task/<%= tasks[i]._id%>/view"><label><%= tasks[i].title %></label></a>
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                
                <% } %>
            </div>

        </div>
    </body>
</html>